<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Resources/css/index.css" rel="stylesheet" />
    <link href="~/Scripts/jtable.2.4.0/themes/metro/blue/jtable.min.css" rel="stylesheet" />
    <link href="~/Resources/jquery-ui-flat-theme-master/jquery-ui-1.10.3.flat.css" rel="stylesheet" />
    <link href="~/Resources/validation-engine/validationEngine.jquery.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.11.2.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.2.custom/jquery-ui.js"></script>
    <script src="~/Scripts/jtable.2.4.0/jquery.jtable.js"></script>
    <script src="~/Scripts/core/jquery.unobtrusive-ajax.js"></script> 
    <script src="~/Scripts/validation-engine/jquery.validationEngine.js"></script>
    <script src="~/Scripts/validation-engine/jquery.validationEngine-en.js"></script>

    @RenderSection("head", false)
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="index-page-container">
        <div id="index-top-menu">
            <div id="user-data">
                <div id="username"><span class="green"><i class="fa fa-user pad2"></i></span>@Session["CurrentUserName"].ToString()</div>
                <div id="logout"><a href="@Url.Action("Logout","User")"><i class="fa fa-sign-out "></i></a></div>
            </div>
        </div>
        <div id="index-bottom">
            <div id="index-left-container">
                <ul id="menu-list">
                    @{Html.RenderAction("Menu", "Home");}
                </ul>
            </div>
            <div id="index-right-container">
                <div id="content">@RenderBody()</div>
            </div>
        </div>
    </div>
</body>
</html>
